		
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: azure;
    color: white;
    height: 50px;    
    padding-top: 15px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
     width: 100%;
}
.header-left{
    width: 25%;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    color: blue;
}
.header-left span{
    color: red;
}
.header-right{
    width: 75%;
    text-transform: uppercase;
    float: left;
}
.header-ul{
    float: left;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
    width: 100%;
}
.header-list a{
    list-style-type: none;
    text-decoration: none;
}
body{
    background:#fff
}
.main{
    display: flex;
    width: 100%;
    float: left;
    padding: 70px;
}

/*@media screen and (min-width:500px) and (max-width:700px){}*/

.main-1{
    width: 50%;
}
.main-1 span{
    font-size: 33px;
    color:red;
}
.main-1 h1{
    font-size: 60px;
}
.main-1 h1 span{
    color:blue;
    font-size: 60px; 
}
.main-1 p{
    font-size: 25px;
}


.about-1{
    position: relative;
}
.about-2{
    position: absolute;
}
.about-2 img{
    position: relative;
    bottom: 333px;
    left: 70px;
}
.about-3 {
    position: relative;
    left: 500px;
    bottom: 400px;
}
.about-7{
    position: absolute;
    float: right;
}
.about-8{
    position: relative;
    left: 900px;
    bottom: 616px;
}
.about-3 p{
    position: relative;
    left: 90px;
    bottom: 50px;
    font-size: 18px;


}
.about-8 p{
    position: relative;
    bottom: 60px;
    font-size: 18px;
    left: 90px;
}
.grow{
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 120px;
}
.grow-2{
    float: left;
}
.grow-3 h2{
    font-size: 45px;
}
.grow p{
    font-size: 25px;
}
.agency{
    padding: 50px;
}
.agency-2 h2{
    font-size: 45px;
}
.agency-3{
    width: 22%;
    height: 30vh;
    background-color: red;
    color:whitesmoke;
    border-radius: 20px;
    position: relative;
    left: 23%;
    top: 20px;
}
.agency-3 h4{
    font-size: 25px;
    padding: 30px;
    text-align: center;
}
.agency-3 p{
    text-align: center;
    font-size: 18px;
    
}

.agency-3-1 img{
    height: 8%;
    width: 15%;
}
.agency-3-1 .provide{
    position: relative;
    bottom: 60px;
    left: 30px;
}
.agency-3-1 .provide-1{
    position: relative;
    top: 60px;
    left: 15%;
}
.agency-3-1 .provide-2{
    float: right;
    position: relative;
    right: 35%;
    bottom: 80px;
}
.agency-3-1 .provide-3{
    float: right;
    position: relative;
    bottom: 35px;
    left: 8%;
}
.trend{
    padding: 70px;
}
.trend .trend-2 h2{
    font-size: 40px;
    
}
.trend-2{
    float: left;
}
.trend-3{
float: right;

}
.trend-4{
    position: relative;
    left: 40px;
    top: 280px;
    font-size: 20px;
}


.trend-3 img{
    border-radius: 20px;
}

.foot-1{
    position: relative;
}
.foot-2{
    position: absolute;
    left: 140px;
    bottom: 190px;
    color:blanchedalmond
}
.foot-2 h2{
    font-size: 35px;
}
.foot-2 p{
    font-size: 20px;
}
.foot-3{
    position: absolute;
    right: 100px;
    bottom: 118px;
    height: 40%;
    width: 32%;
    background-color:white;
    border-radius: 20px;
    
}
.foot-3 input{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color:lightskyblue;
}
.foot-3 form{
    position: relative;
    padding: 30px;
}
.foot-3 textarea{
    height: 90px;
    width: 100%;
    border-radius: 20px;
    background-color:lightskyblue;
}
.foot-3 button{
    height: 40px;
    width: 40%;
    background-color:skyblue;
    border-radius: 20px;
}
@media ( min-width: 500px)  and (max-width: 650px){
    .main{
        background :whitesmoke;
        
        
        
    }
    .main-1 h1 {
        position:relative;
        left:50px;
        font-size: 45px;

    }
    .main-1  h1 span{
        font-size: 45px;
    }
    .main-1 p{
        position:relative;
        left:80px;
        top:50px;
        
    }
    
}
@media ( min-width: 414px) and (max-width:812px){
    .main-2 img{
        position:relative;
        top:450px;
        width:230%;
        height:52%;
        right:200px;

    }
    .about-1 img{
        position:relative;
        top:70px;
    }
    .about-2 img{
        height:20%;
        width:50%;
    }
    .about-3 img{
        position:relative;
        right:300px;
        top:320px;
        right:470px;
        height:30px;
        width:40px;
    }
    .about-3 p{
        position:relative;
        right:300px;
        float:left;
    }
}
